.card {
    height: 350px;
    width: 200px;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
}
.card:hover {
    transform: scale(1.02)
}

.card-img-top{
    height: 150px;
    width: 200px;
}


#acbtn:hover {
    background-color: green;
}

.promocard {
    background-color: rgba(62, 201, 235, 0.082);
    
}

.promoacbtn{
    background-color: rgb(191, 199, 164)
}

