.card {
    height: 350px;
    width: 200px;
    margin-bottom: 1.5vh;
}
.card:hover {
    transform: scale(1.02)
}

.card-img-top{
    height: 150px;
    width: 200px;
}


#acbtn:hover {
    background-color: green;
}

@media only screen and (max-width: 600px) {
    .card {
      background-color: lightblue;
    }
  }