<div class="card-deck">
<div (click)="gotoProduct(product.pId)" [routerLink]="['products/', product.pId]" class="card">
    <img class="card-img-top" [src]="product.pImg"/>
    <div class="card-body">
      <h4 class="card-title">{{ product.pName }}</h4>
      <p class="card-text">{{ product.pPrice | currency : 'LKR'}}</p>
    </div>
    <div class="card-footer">
      <a id="acbtn" (click)="addToCart(product); $event.stopPropagation()" class="btn btn-secondary btn-block">Add to Cart</a>
    </div>
  </div>  
</div>