<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Units</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{cartItem.name}}</td>
      <td>
        <input class="form-row col-3" type="number" value="{{cartItem.amount}}" min="1">
      </td>
      <td>{{cartItem.price}}</td>
      <td>{{cartItem.price*cartItem.amount}}</td>
      <td><a href="">Delete</a></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary">Checkout</button>