<div class="container">
<div id="btngrp" class="btn-group">
    <button routerLink="/admin/products/new" class="btn btn-primary">New Product</button>
    <button (click)="addCategory()" class="btn btn-primary">New Category</button>
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
    </div>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Search for products...">
  </div>
</div>

<div class="row">
<div class="col-8">
    <h3>Products</h3>
<table class="table table-striped table-hover border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.pName}}</td>
            <td>{{p.pPrice | currency:'LKR'}} </td>
            <td>
                <a [routerLink] ="['/admin/products/', p.pId]" class="btn btn-outline-info">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" (click)="deleteProduct(p.pId)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="col-4">
    <h3>Categories</h3>
<table class="table table-striped table-hover border">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of categories$ | async; let i = index">
            <td>{{i+1}}</td>
            <td>{{c.name}} </td>
            <td>
                <a [routerLink] ="['/admin/products/', c.cid]" class="btn btn-outline-info">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</div>

</div>