<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orderItem of orderItems; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{orderItem.product.pName}}</td>
      <td>{{orderItem.qty}}</td>
      <td>{{orderItem.product.pPrice | currency : 'LKR'}}</td>
      <td>{{orderItem.qty * orderItem.product.pPrice | currency : 'LKR'}}</td>
    </tr>
  </tbody>
</table>